Repository Hunterb343/cwv-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --parser typescript --write

Importing card styles
  src/components/main/resources/resources.module.scss
  src/components/main/resources/resources.tsx
  src/components/shared/layouts/appLayout.module.scss
  src/styles/_global.scss
Due: prettier --write, eslint --fix, prettier --parser typescript --write

Remove old Links var
  src/components/main/resources/resources.tsx
Due: eslint --fix, prettier --parser typescript --write

Add 3rd party scripts
  src/pages/_document.tsx
Due: eslint --fix, prettier --parser typescript --write

Add utils file
  src/utils/utils.js
Due: prettier --write, eslint --fix

Add new stencils
  package-lock.json
  package.json
  src/styles/_global.scss
Due: prettier --write

Add cat modal
  src/components/main/resources/resources.module.scss
  src/components/main/resources/resources.tsx
Due: prettier --write, eslint --fix, prettier --parser typescript --write

Adding dimensions to images
  src/components/main/resources/resources.module.scss
  src/components/main/resources/resources.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, prettier --parser typescript --write

lowering font performance
  src/components/main/resources/resources.module.scss
  src/components/main/resources/resources.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, prettier --parser typescript --write

Fixing prettier stuff
  src/components/main/resources/resources.tsx
Due: eslint --fix, prettier --parser typescript --write

adding lcp changes
  src/components/main/resources/resources.tsx
  src/pages/_document.tsx
  src/utils/utils.js
Due: prettier --write, eslint --fix, prettier --parser typescript --write

Removing font stlying
  src/components/main/resources/resources.module.scss
  src/components/main/resources/resources.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, prettier --parser typescript --write

commenting out fetch priority
  src/pages/_document.tsx
Due: eslint --fix, prettier --parser typescript --write

Pushing final(?) commit
  src/components/main/resources/resources.module.scss
  src/components/main/resources/resources.tsx
  src/pages/_document.tsx
Due: prettier --write, eslint --fix, prettier --parser typescript --write

Path conditions:
  prettier --write: (any of: *.scss) or (any of: *.{js,jsx})
  eslint --fix: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --parser typescript --write: any of: *.{ts,tsx}
